{# templates/registration/register.html.twig #}
<style>
    .form-control {
        background-color: #000000;
        color: #FFFFFF;
        border-color: #FF0000;
    }

    .btn-primary {
        background-color: #FF0000;
        border-color: #FF0000;
    }
</style>

<h1>Inscription</h1>
<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <form action="{{ path('user') }}" method="post">
            {{ form_widget(form) }}
            <button type="submit" class="btn btn-primary">Inscrivez-vous</button>
        </form>
    </div>
</div>

